body {
    font-family: 'Roboto', sans-serif;
    max-width: 1366px;
}

h2 {
    font-size: 45px;
    margin-bottom: 23px;
}

h3 {
    font-size: 42px;
}

h4 {
    font-size: 40px;
    margin-bottom: 48px;
    span {display: block;}
        span {font-weight: 400;}
}

h2, h3, h4 {
    font-weight: 200;
    letter-spacing: 1.1px;
    line-height: 1.45;
     margin-top: 0;
   span {
        font-weight: 900;
    }
}

p {
    font-size: 15.57px;
    line-height: 28px;
    letter-spacing: 0.5px;
    margin-bottom: 28px;
    margin-top: 0;
}

a, input, textarea {
    font-size: 16.57px;
}

a {
    color: #ffffff;
    text-decoration: none;
    border: 1px solid #ffffff;
    border-radius: 10px;
    padding: 10px 5px;
    display: block;
    max-width: 150px;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-areas: 
        "a a a a a a b b b" 
        "c c c c d d d d d" 
        "c c c c e e e e e" 
        "f f f g g g g g g";
    grid-template-columns: repeat(9, 1fr);

}

.grid-item-bg, .grid-item-gray, .grid-item-blue, 
.grid-item-beige, .grid-item-dgray, .grid-item-human, .grid-item-form {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 58px 30px 92px 52px;
}

.grid-item-blue, .grid-item-dgray, .grid-item-human, .grid-item-form {
    color: #ffffff;
}

.grid-item-blue, .grid-item-dgray, .grid-item-beige {
    padding-left: 60px;
    padding-bottom: 0px;
    p {margin-bottom: 68px;}
}

.grid-item-blue>div {
    margin-bottom: 50px;
}

.grid-item-bg {
    background-image: url(../img/bg1.png);
    grid-area: a;
}

.grid-item-gray {
    background-color: #f3f3f3;
    grid-area: b;
    p {font-size: 18px;}
}

.grid-item-blue {
    background-image: url(../img/bg3.png);
    grid-area: c;
}

.grid-item-beige {
    background-image: url(../img/bg2.png);
    grid-area: d;
    a {
        color: #000000;
        border: 1px solid #000000;
    }
}

.grid-item-dgray {
    background-image: url(../img/bg4.png);
    grid-area: e;
}

.grid-item-human {
    background-image: url(../img/bg5.png);
    grid-area: f;
}

.grid-item-form {
    background-image: url(../img/bg6.png);
    grid-area: g;
}

.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 620px;
    & input {
        flex-basis: calc(48% - 30px);
    }
    & textarea {
        flex-basis: 100%;
        height: 200px;
    }

    & input, & textarea {
        background-color: transparent;
        border: 1px solid #ffffff;
        color: #ffffff;
        border-radius: 10px;
        margin-bottom: 12px;
        padding: 10px 15px;
        &:focus {outline: none;}
        &::-webkit-input-placeholder {color:#ffffff7a; }
        &::-moz-placeholder          {color:#ffffff7a;}/* Firefox 19+ */
        &:-moz-placeholder           {color:#ffffff7a;}/* Firefox 18- */
        &:-ms-input-placeholder      {color:#ffffff7a;}
    }
    
}

.menu {
    display: block;
    background-image: url(../img/menu.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    border: none;
    width: 33px;
    height: 29px;
    margin-bottom: 62px;
}

.list {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    padding: 0;
    &>li>a {
        display: block;
        background-repeat: no-repeat;
        width: 45px;
        height: 45px;
        padding: 0;
        margin: 0;
        border: none;
        margin-right: 10px;
        &.fb {background-image: url(../img/fb.svg);}
        &.dr {background-image: url(../img/dr.svg);}
        &.tw {background-image: url(../img/tw.svg);}
    }
}

.logo {
    display: block;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    width: 90px;
    height: 90px;
}



